@font-face {
  font-family: "Calibre";
  src: url("../fonts/calibre/CalibreRegular.otf");
}

.search-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  font-family: "Calibre";
}
