@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  font-family: "Manrope", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div,
input,
.mantine-Text-root,
.mantine-150hmss,
.mantine-Container-root,
.mantine-p20j1y,
.mantine-Pagination-item {
  font-family: "Manrope", sans-serif !important;
}

input,
.mantine-Alert-message {
  font-weight: 600 !important;
}

.mantine-Notification-description,
.mantine-Notification-title {
  font-weight: 600 !important;
}

.mantine-Tabs-tabLabel {
  font-weight: 600 !important;
}

.mantine-Divider-label {
  font-weight: 700 !important;
}

.mantine-Badge-dot,
.mantine-Badge-root {
  border: none !important;
}

.mantine-Card-root {
  height: 100% !important;
}

.mantine-1quajhs,
.mantine-Image-image {
  border-radius: 50% !important;
}
