@font-face {
  font-family: "Calibre";
  src: url(./assets/fonts/calibre/CalibreMedium.otf);
}

html {
  font-family: "Calibre";
}

:root {
  font-family: "Calibre";
}

body {
  font-family: "Calibre" !important;
}

.home {
  .ui.grid {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center !important;
    height: 100vh;

    .row {
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
    }

    .ui.input {
      font-family: "Calibre" !important;
      height: 3rem;
      width: 60%;
    }
  }
}
